doctype html

html(lang='en', ng-app='app')
    head
        title=title
        meta(name='apple-mobile-web-app-status-bar-style',content='black')
        meta(name='format-detection', content='telephone=no')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1, user-scalable=no')
        link(rel='stylesheet', href='http://apps.bdimg.com/libs/fontawesome/4.4.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
        script(src='http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
        script(src='http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
        //link(rel="shortcut icon" href="http://localhost/favicon.ico" type="image/x-icon")

        script(src='http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js')
    body
        block content
